accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
attrs==25.3.0
# если на windows, то https://github.com/casper-hansen/AutoAWQ.git git clone отсюда,
# куда хотите, потом в папке ищите setup.py, в нем удаляете строку с triton, сох-
# раняете файл, далее скачиваете эту папку через pip install
# если не на windows, то просто pip install https://github.com/casper-hansen/AutoAWQ.git
autoawq @ file:///C:/Users/Roman/Desktop/GUI%20ml/AutoAWQ
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
datasets==3.6.0
dill==0.3.8
filelock==3.18.0
frozenlist==1.6.0
fsspec==2025.3.0
huggingface-hub==0.31.2
idna==3.10
intel-openmp==2021.4.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mkl==2021.4.0
mpmath==1.3.0
multidict==6.4.3
multiprocess==0.70.16
networkx==3.4.2
numpy==1.26.4
packaging==25.0
pandas==2.2.3
peft==0.15.2
propcache==0.3.1
psutil==7.0.0
pyarrow==20.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.5.3
six==1.17.0
sympy==1.14.0
tbb==2021.13.1
tokenizers==0.21.1
torch==2.3.0
tqdm==4.67.1
transformers==4.51.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
xxhash==3.5.0
yarl==1.20.0
zstandard==0.23.0
